.button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  border-radius: 100px;
  padding: 0.8em 2em;
  background: transparent;
  border: 0;
  font-family: "Raleway", sans-serif;
  font-size: $font-size-base;
  line-height: 1.5em;
  text-align: center;
  font-weight: 700;
  text-transform: lowercase;
  transition: box-shadow 50ms;
  cursor: pointer;

  &--primary {
    background: linear-gradient(105deg, $secondary 0%, $primary 100%);
    color: $white;

    &:hover,
    &:active {
      background: linear-gradient(105deg, darken($secondary, 5%) 0%, darken($primary, 5%) 100%);

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -5%;
      height: 60%;
      width: 80%;
      background: linear-gradient(105deg, $secondary 0%, $primary 100%);
      filter: blur(20px);
      transform: translateX(-50%);
      opacity: .75;
      z-index: -1;

    }

    .simple-mode & {
      background: $primary;

      &::after {
        display: none;
      }
    }
  }

  &--secondary {
    border: 2px solid var(--gray);
    background: var(--background);
    overflow: hidden;
    color: var(--text);

    &:hover,
    &:active {
      background: var(--background);
      border-color: darken($gray, 10%);
      box-shadow: var(--box-shadow);
    }
  }

  &--ghost {
    border: 2px solid $white;
    padding: .5em 2em;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: $white;

    &:hover,
    &:active {
      background: $white;
      color: $primary;
      border-color: $white;
    }
  }

  &--alternative {
    border: 0;
    background: $secondary;
    color: $white;

    &:hover,
    &:active {
      background: lighten($secondary, 5%);
      color: $white;
      box-shadow: $box-shadow;
    }
  }

  &--inline {
    display: inline-block;
    width: auto;
  }
}
