.carousel {
  width: 100%;
  max-width: 770px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background-shade);
    text-indent: 1000 * 1000px;
  }

  div:first-child > picture img {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  div:last-child > picture img {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.carousel__wrapper {
  border-radius: $border-radius;
  background: var(--background);
  box-shadow: 0 0 0 $margin / 4 var(--background);

  > div {
    border-radius: $border-radius;
  }

  img:not([src]) {
    height: 0;
    padding-bottom: 100% / 16 * 10;
  }
}

.carousel__navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $margin / 4;
  margin-top: $margin / 4;

  @include media-min(sm) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.carousel__item {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: 0.75;
  }

  &--is-active {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      box-shadow: inset 0 0 0 2px $secondary;
    }
  }
}
