.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  border: 2px dashed var(--gray);
  padding: $margin;
  border-radius: $border-radius;
  text-align: center;
  font-size: 21px;
  line-height: 1.5em;
  transition: box-shadow 100ms, background-color 100ms;

  &--is-active {
    background: var(--background-content);
    border: 0;
    box-shadow: var(--box-shadow);
  }

  * {
    pointer-events: none;
  }
}
