.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $margin;
  border-radius: $border-radius;
  background: var(--background);
  box-shadow: var(--box-shadow);

  @include media-min(xl) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $margin / 2 $margin * 0.7 $margin / 2 $margin;
    border-radius: 100px;
  }
}

.filter__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;

  @include media-min(xl) {
    flex-direction: row;
    align-items: center;
  }
}

.filter__link {
  font-size: 16px;
  color: var(--text);
  font-weight: bold;
  text-transform: lowercase;
  margin: $margin / 2 0;

  @include media-min(xl) {
    margin: 0 0 0 $margin / 2;
  }

  &:hover {
    text-decoration: underline;
  }
}

.filter__search {
  height: auto;
  width: auto;
  padding: 0;
  border: 0;
  margin-bottom: $margin / 2;
  border-radius: 0;
  border-bottom: 2px solid var(--text);
  background: var(--background);
  font-weight: 700;

  @include media-min(xl) {
    margin: 0 $margin / 2 0 auto;
  }

  &::placeholder {
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
    color: $gray;
    font-style: normal;
  }
}

.filter__tray {
  position: absolute;
  left: $margin / 2;
  bottom: -#{ $margin };
  z-index: 2;
}
