.header {
  padding: $margin 0;
  margin-bottom: 10vw;

  @media (min-width: 1920px) {
    margin-bottom: $margin * 4;
  }

  .simple-mode & {
    margin-bottom: 0;

    .logo-cls-2 {
      fill: var(--text);
    }
  }
}

.header__bubbles,
.header__blobs {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;

  @media (min-width: 1920px) {
    width: 101%;
  }
}

.header__blobs {
  z-index: -2;

  &--negative-offset {
    margin-top: -#{ $margin * 2 };
  }

  path {
    fill: var(--background-shade);
  }
}

.header__background {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--background-shade);
  height: 160px;
  width: 100%;
  z-index: -1;
}
