.images-preview {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: $margin / 2;
}

@keyframes fade-in-image-preview-item {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.images-preview__item {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  animation: fade-in-image-preview-item 200ms;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &:first-child {
    &::before {
      content: "thumbnail";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba($black, .5);
      font-size: 11px;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
      color: rgba($white, .75);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
