.input-dropdown {
  width: auto;
  margin-right: $margin / 2;
  border-bottom: 2px solid var(--text);
  color: var(--text);
  font-weight: 700;
  text-transform: lowercase;

  .dropdown__content {
    width: 220px;
    left: -#{ $margin / 2 };
    bottom: -#{ $margin / 2 };
  }
}

.input-dropdown__value {
  display: inline-block;
}

.input-dropdown__input {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
}
