.post {
  display: grid;
  grid-template:
    "image"
    "top-sidebar"
    "content"
    "content-sidebar";
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 50px;

  @include media-min(lg) {
    grid-template:
      "image top-sidebar"
      "content content-sidebar";
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  }

  @media (min-width: 1250px) {
    grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
    grid-column-gap: 100px;
  }
}

.post__image {
  grid-area: image;
}

.post__content {
  grid-area: content;
}

.post__top-sidebar {
  grid-area: top-sidebar;
}

.post__content-sidebar {
  grid-area: content-sidebar;
}
