.search {
  position: relative;
  margin: 0 $margin / 5 0 auto;

  @include media-min(xl) {
    margin-left: $margin / 4;
  }

  @include media-min(xxl) {
    margin-left: $margin;
  }
}

.search__input {
  padding-right: 3.5rem;
  max-width: 195px;
  border: 0;
  background: rgba($white, .4);
  transition: max-width 100ms;

  &:focus {
    background: rgba($white, .7);
    box-shadow: var(--box-shadow);
  }

  &::placeholder {
    color: $dark;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 16px;
  }
}

.search__submit {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0 1rem;
  height: 100%;
  background: transparent image-url("icons/icon-search.svg") no-repeat;
  background-size: 18px 18px;
  background-position: center;
  border: 0;
  cursor: pointer;

  &:hover,
  &:active {
    opacity: .5;
    box-shadow: none;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
