.form-input {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: .5rem 1.5rem;
  border: 0;
  border-radius: 100px;
  background: lighten($light, 3%);
  font-size: $font-size-base;
  font-family: "Lato", sans-serif;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-style: italic;
    font-family: $font-stack;
  }

  &--large {
    width: 100%;
    height: 80px;
    padding: 1rem 2rem;
    border: 0;
    background: $white;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5em;
    box-shadow: $box-shadow;
    transition: box-shadow 200ms;

    @include media-min(sm) {
      font-size: 24px;
      line-height: 1.5em;
    }
  }
}

.form-textarea {
  width: 100%;
  min-height: 300px;
  padding: $margin / 2;
  border-radius: $border-radius;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  resize: none;

  &--small {
    min-height: 150px;
  }
}

.form-label {
  display: block;
  margin-bottom: $margin / 4;
  font-size: 18px;
  font-weight: 900;
}

.form-group {
  margin-top: $margin / 2;
}

.form-group-columns {
  @include media-min(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $margin;
  }
}

.form-select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  border-radius: $border-radius;
  padding: 1rem;
  background: lighten($light, 3%);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  cursor: pointer;

  &:hover {
  }

  &:focus {
    outline: none;
  }

  option {
    &[disabled] {
    }

    &:checked {
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin: 1px 0 0;
    border: 2px solid $gray;
    border-radius: 2px;
    cursor: pointer;

    &:checked {
      border: 0;
      background: $secondary;
    }

    &:focus {
      outline: none;
    }
  }

  label {
    padding-left: 1rem;
    font-size: 16px;
    cursor: pointer;
  }
}

input[type="checkbox"] {
  &:checked + label {
  }
}

.form-hint {
  margin-bottom: $margin / 2;
  font-size: 14px;
  color: lighten($black, 30%);
  line-height: 1.25em;
  font-style: italic;
}

.field_with_errors {
  display: inline;

  input,
  select {
  }
}

.error-block {
  ul {
    margin-bottom: 0;
  }
}

.error-block__title {
  font-size: 21px;
}

.hidden-field {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  left: 0;
  top: 0;
}
