* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: $font-size-base;
}

body {
  padding: 0 10vw;

  @include media-min(sm) {
    padding: 0 10vw;
  }
}
