* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: $font-size-base;
  color: $black;
  overflow-x: hidden;
}

body {
  padding: 0 5vw;
  font-family: $font-stack;
}

a {
  color: $primary;
  text-decoration: none;
}

pre {
  max-width: 100%;
}

code {
  max-width: 100%;
}

hr {
  height: 1px;
  width: 100%;
  margin: $margin 0;
  border: 0;
  background: $gray;

  @include media-min(md) {
    margin: $margin * 2 0;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  &--tiny {
    max-width: 400px;
  }
}

.box {
  padding: $margin / 2;
  border-radius: $border-radius;
  background: $white;
  box-shadow: $box-shadow;
}

.background-light {
  background: lighten($light, 3%);
}
