* {
  box-sizing: border-box;
}

html {
  background: var(--background);

  --text: #{ $black };
  --background: #{ $white };
  --background-shade: #{ $light };
  --background-content: #{ $lighter };
  --box-shadow: #{ $box-shadow };
  --gray: #{ $gray };

  &.dark-mode {
    --text: #{ lighten($dark, 70%) };
    --background: #{ $dark };
    --background-shade: #{ darken($dark, 6%) };
    --background-content: #{ $darker };
    --box-shadow: #{ $box-shadow-dark };
    --gray: #{ lighten($dark, 15%) };
  }

  &.simple-mode {
    --box-shadow: 0 0 0 1px var(--gray);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: $font-size-base;
  color: var(--text);
  overflow-x: hidden;
}

body {
  padding: 0 5vw;
  font-family: $font-stack;
}

a {
  color: $primary;
  text-decoration: none;
}

pre {
  max-width: 100%;
}

code {
  max-width: 100%;
}

hr {
  height: 1px;
  width: 100%;
  margin: $margin 0;
  border: 0;
  background: var(--gray);

  @include media-min(md) {
    margin: $margin * 2 0;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  &--tiny {
    max-width: 400px;
  }
}

.box {
  padding: $margin / 2;
  border-radius: $border-radius;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

.background-light {
  background: $lighter;
}
