h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1,
h2 {
  margin: $margin 0;

  @include media-min(md) {
    margin: $margin * 2 0;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}
