<% content_for :page_title, "Create an account" %>

<%= inline_svg "layout/background-blobs-header-2.svg", class: "header__blobs" %>

<div class="wrapper wrapper--tiny top-offset text-center">
  <div class="box">
    <h1 class="mt-0 mb-0">Create an account</h1>

    <%= render "form", user: @user, url: users_path %>
  </div>

  <div class="top-offset">
    <small>Already have an account? <%= link_to "Log in", login_path %></small>
  </div>
</div>
