<center><h1>Recent Creations</h1></center>

<main class="items">
  <%= render @posts %>
</main>

<%= link_to "New post", new_post_path, class: "button button--secondary button--inline" %>

<%= paginate @posts %>
