<main class="items">
  <h1>Recent Creations</h1>

  <%= render @posts %>

  <%= link_to "New post", new_post_path, class: "button button--secondary button--inline" %>

  <%= paginate @posts %>
</main>
