<% content_for :page_title, "Post new creation" %>

<%= inline_svg "layout/background-blobs-header-1.svg", class: "header__blobs" %>

<h1>Create new post</h1>

<%= render "form", post: @post, path: posts_path %>
