<% content_for :page_title, "Search | #{ params[:search] }" %>

<h1><center>Searched Creations</center></h1>

<main class="items">
  <%= render @posts %>
</main>

<%= link_to "New post", new_post_path, class: "button" %>
