$white: #ffffff;
$black: #39373a;
$red: #b33834;
$light: #ecf0f2;
$gray: #ccd1d4;
$primary: #a936de;
$primary-dark: #2c0752;
$secondary: #eb850d;

$font-stack: "Lato", sans-serif;
$font-size-base: 18px;
$font-size-small: 14px;

$margin: 50px;
$border-radius: 25px;
$max-width: 1200px;

$box-shadow: 0 30px 30px rgba($black, .075), 0 10px 10px rgba($black, .075);

$media-min-widths: (
  xs: 400px,
  sm: 560px,
  md: 768px,
  lg: 900px,
  xl: 1100px,
  xxl: 1300px
)
